@font-face {
  font-family: "Calibri";
  src: local("Calibri Regular"), local("Calibri-Regular"),
    url("../fonts/Calibri.woff2") format("woff2"),
    url("../fonts/Calibri.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Calibri";
  src: local("Calibri Bold"), local("Calibri-Bold"),
    url("../fonts/Calibri-Bold.woff2") format("woff2"),
    url("../fonts/Calibri-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-green: #00d17a;
  --color-main: #718ba3;
  --color-dark: #001f35;
  --color-dark2: #0c021b;
  --main-font: "Calibri", "Arial", sans-serif;
}

#amsb {
  /* рекламный баннер в нижнем правом углу.  Убрал чтобы не мешал */
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  color: var(--color-main);
  background-color: #f6f9fb;
}

h1,
h2,
h3,
h4 {
  font-family: var(--main-font);
  color: var(--color-dark);
  font-weight: 700;
}
p,
a,
a:visited {
  color: var(--color-main);
}

#content,
.auth-center,
header {
  width: 100%;
  max-width: 1150px;
}

header hgroup {
  /*прячем лого из баннера*/
  display: none;
}

.day #g_pagewrap.bigHeader {
  background-position: 50% 76px;
}

#pageTop nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: auto;
  padding: 29px 60px;
  box-shadow: 0px 2px 3px 0 rgba(44, 57, 65, 0.15);
  background-color: #ffffff;
}

#pageTop nav ul {
  display: flex;
  justify-content: center;
  align-self: center;
}

#pageTop nav li {
  position: static;
  margin: 0 16px;
}

#pageTop nav a {
  padding: 0;
  font-size: 18px;
  line-height: 1;
  color: var(--color-main);
}

#pageTop nav li:first-child a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  display: block;
  width: 150px;
  height: 48px;
  background-size: cover;
  background-image: url("logobn.png");
}

#pageTop nav a:hover,
#pageTop nav a:focus {
  /*font-weight: 700;*/
  color: #001f35;
  background-color: transparent;
  text-shadow: 0px 0px 1px #001f35;
}

#pageTop nav a:hover .bloodyPrint {
  display: none;
}

#authorization {
  height: auto;
  padding: 28px 0;
  box-shadow: 0px 2px 3px 0 rgba(44, 57, 65, 0.15);
  background-color: #ffffff;
  border: none;
}

.auth-center {
  height: auto;
}

#main-login {
  display: flex;
  justify-content: center;
}

#main-login li {
  align-self: center;
  margin: 0 10px;
}

#main-login li:first-child {
  margin-left: 10px;
  margin-right: 0;
}

#main-login li.empty {
  width: 0;
}

#main-login a.facebook,
#main-login a.vkontakte {
  margin: 0;
}

#main-login .user,
#main-login .pass {
  height: auto;
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
}

.login-form {
  width: 235px;
  height: auto;
  margin: 0;
  padding: 12px 16px;
  font-size: 16px;
  text-align: left;
  color: var(--color-main);
  border-radius: 10px;
  border: solid 1px #d6dee5;
  background-color: #ffffff;
}

.login-form:hover,
.login-form:focus {
  border-color: var(--color-dark2);
}

.login-form::placeholder {
  opacity: 1;
  color: var(--color-main);
}

input.enter-exit {
  width: auto;
  height: auto;
  margin: 0;
  padding: 11px 21px;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 2px 3px 0 rgba(44, 57, 65, 0.08);
  background-color: var(--color-green);
  background-image: none;
}

input.enter-exit:hover,
input.enter-exit:focus {
  opacity: 0.7;
}

#main-login a.txt {
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-wrap: wrap;
}

#content .txt,
#content .map {
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0 rgba(44, 57, 65, 0.12);
  background-color: #ffffff;
}

#content .txt {
  width: calc(100% - 530px);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 36px 50px;
}

#content .map {
  margin-bottom: 20px;
}

.globalStatistics {
  width: 100%;
  margin-bottom: 20px;
}
.regGamesContainer {
  width: 100%;
  padding: 0;
}

.nextGameContainer {
  display: flex;
  padding: 0;
}

.nextGameContainer #nextGame {
  width: calc(100% - 260px);
  margin-right: 20px;
  padding: 36px 50px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0 rgba(44, 57, 65, 0.12);
  background-color: #ffffff;
}

.stikyBns {
  position: static;
  order: 1;
}

.stikyBns .tournament {
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 8px 0 rgba(44, 57, 65, 0.12);
  background-color: #ffffff;
}

#js-step-registration {
  width: 100%;
  margin-top: 20px;
  padding: 36px 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 8px 0 rgba(44, 57, 65, 0.12);
  background-color: #ffffff;
}

#js-step-registration .step-1 {
  padding: 0;
}

#js-step-registration .step-1 > div p {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-dark);
}

form div.registration {
  margin-top: 20px;
}

form div.registration dl {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

form div.registration dt {
  width: 355px;
  margin: 0 60px 24px 0;
  padding: 0;
  float: none;
  align-self: center;
}

form div.registration dd {
  width: calc(100% - 415px);
  margin-bottom: 24px;
  padding: 0;
  align-self: center;
}
form div.registration .message {
  color: var(--color-main);
  font-size: 16px;
}

.registration-field-bg {
  height: auto;
  background-image: none;
}

input.reg-first {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 14px 20px;
  font-size: 16px;
  text-align: left;
  color: var(--color-dark2);
  border-radius: 10px;
  border: solid 1px #d6dee5;
  background-color: #ffffff;
}

input.reg-first:hover,
input.reg-first:focus {
  border-color: var(--color-dark2);
}

input.reg-first::placeholder {
  color: var(--color-main);
  opacity: 1;
}

.center.regBorder {
  border: none;
  padding: 20px 0 0 0;
  margin-top: 0;
  border-radius: 0;
}

ul.auth-services {
  display: flex;
}

ul.auth-services li {
  margin: 0 20px 0 0;
}

ul.auth-services li a .auth-title {
  display: none;
}

ul.auth-services a.auth-link {
  background-color: transparent;
}

.auth-icon {
  background-position: 0 0 !important;
}

.auth-icon.vkontakte {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23718ba3' d='M19.915 13.028c-.388-.49-.277-.708 0-1.146.005-.005 3.208-4.431 3.538-5.932l.002-.001c.164-.547 0-.949-.793-.949h-2.624c-.668 0-.976.345-1.141.731 0 0-1.336 3.198-3.226 5.271-.61.599-.892.791-1.225.791-.164 0-.419-.192-.419-.739V5.949c0-.656-.187-.949-.74-.949H9.161c-.419 0-.668.306-.668.591 0 .622.945.765 1.043 2.515v3.797c0 .832-.151.985-.486.985-.892 0-3.057-3.211-4.34-6.886-.259-.713-.512-1.001-1.185-1.001H.9c-.749 0-.9.345-.9.731 0 .682.892 4.073 4.148 8.553C6.318 17.343 9.374 19 12.154 19c1.671 0 1.875-.368 1.875-1.001 0-2.922-.151-3.198.686-3.198.388 0 1.056.192 2.616 1.667C19.114 18.217 19.407 19 20.405 19h2.624c.748 0 1.127-.368.909-1.094-.499-1.527-3.871-4.668-4.023-4.878z'/%3e%3c/svg%3e");
}

.auth-icon.facebook {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 167.657 167.657'%3e%3cpath d='M83.829.349C37.532.349 0 37.881 0 84.178c0 41.523 30.222 75.911 69.848 82.57v-65.081H49.626v-23.42h20.222V60.978c0-20.037 12.238-30.956 30.115-30.956 8.562 0 15.92.638 18.056.919v20.944l-12.399.006c-9.72 0-11.594 4.618-11.594 11.397v14.947h23.193l-3.025 23.42H94.026v65.653c41.476-5.048 73.631-40.312 73.631-83.154 0-46.273-37.532-83.805-83.828-83.805z' fill='%23718ba3'/%3e%3c/svg%3e");
}

.seoTextBottom {
  margin-top: 20px;
  padding: 36px 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 8px 0 rgba(44, 57, 65, 0.12);
  background-color: #ffffff;
}

.seoTextBottom h1 {
  font-family: var(--main-font);
}

.seoTextBottom .seoText {
  font-size: 16px;
}

#g_footer {
  height: auto;
  margin-top: 20px; /*
  padding-top: 44px;
  padding-bottom: 44px;*/
  border: none;
  background-color: #ffffff;
}

#footer {
  display: flex;
  width: 100%;
  max-width: 1150px;
  padding-top: 44px;
  padding-bottom: 44px;
  font-size: 14px;
}

#footer > * {
  align-self: center;
}

#footer p {
  padding: 0;
  color: var(--color-main);
}

#footer a {
  padding: 0;
  color: var(--color-main);
}

#footer::before {
  content: "";
  display: block;
  width: 205px;
  height: 85px;
  margin-right: 36px;
  background-image: url("logobn.png");
}

#footer::after {
  content: "16+";
  margin-left: auto;
  font-size: 64px;
  font-weight: 700;
  color: rgba(113, 139, 163, 0.25);
}
