@font-face {
  font-family: "Calibri";
  src: local("Calibri Regular"), local("Calibri-Regular"),
    url("../../fonts/Calibri.woff2") format("woff2"),
    url("../../fonts/Calibri.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Calibri";
  src: local("Calibri Bold"), local("Calibri-Bold"),
    url("../../fonts/Calibri-Bold.woff2") format("woff2"),
    url("../../fonts/Calibri-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ArialMT";
  src: local("ArialMT Regular"), local("ArialMT-Regular"),
    url("../../fonts/ArialMT.woff2") format("woff2"),
    url("../../fonts/ArialMT.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ArialMT";
  src: local("ArialMT Bold"), local("ArialMT-Bold"),
    url("../../fonts/ArialMT-Bold.woff2") format("woff2"),
    url("../../fonts/ArialMT-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-green: #00d17a;
  --color-green-hover: #00b25e;
  --color-yellow: #ffc600;
  --color-yellow-hover: #ffcc33;
  --color-red: #ff0000;
  --color-red-hover: #f80000;

  --color-turquoise: #00b2ff;
  --color-turquoise-hover: #33c2ff;
  --color-main: #718ba3;
  --color-dark: #001f35;
  --color-dark2: #0c021b;
  --color-purple: #9063f1;
  --color-bg: #f6f9fb;
  --color-grey: #d6dee5;

  --main-font: "Calibri", "Arial", sans-serif;
  --secondary-font: "ArialMT", "Arial", sans-serif;

  --shadow-default: 0 2px 3px 0 rgba(44, 57, 65, 0.15);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  color: var(--color-main);
  background-color: #f6f9fb;
  min-width: 1180px;
}

body.day.bgGreen {
  background-image: none;
  background-color: var(--color-dark);
  background-attachment: scroll;
}

h1,
h2,
h3,
h4 {
  font-family: var(--main-font);
  color: var(--color-dark);
  font-weight: 700;
}

p,
a,
a:visited {
  color: var(--color-main);
}

body .wrapper {
  background-repeat: no-repeat;
  background-position: 50% 50% !important;
  background-size: cover;
  background-image: url("../img/new-design/bg.jpg") !important;
}

/* Ожидание игроков */
.parent {
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 100%;
}

.tablePosition {
  display: block;
  width: 1190px;
  height: auto;
  align-self: center;
}

.gameStart {
  display: block;
  padding: 24px 48px;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(44, 57, 65, 0.12);
  background-color: #ffffff;

  align-self: center;
}

.gameStartTop {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: none;
}

.gameStartBottom {
  display: none;
}

.gameStartTitle,
.gameStartConect {
  height: auto;
  margin-bottom: 32px;
  padding: 0 0 20px 0;
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1;
  color: var(--color-dark);
  font-weight: 700;
  font-style: normal;
  border-bottom: solid 1px var(--color-grey);
}

.gameStartConect {
  display: none;
}

.gameStartDesc {
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 1;
  color: var(--color-main);
  font-weight: 400;
  order: -1;
}

.gameStartTimer {
  display: flex;
  width: 212px;
  height: auto;
  margin-bottom: 32px;
  padding: 0;
  background-image: none;
  /*background-color: yellow;*/

  order: -1;
}

.flip-clock-divider.minutes {
  display: none;
}

.flip-clock-divider.seconds {
  position: relative;
  width: 24px;
  height: 60px;
  margin-left: -4px;
}

.flip-clock-divider.seconds::before {
  content: ":";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-57%);
  font-size: 48px;
  line-height: 1;
  color: var(--color-dark);
  font-weight: 700;
}

.flip-clock-divider.seconds span {
  display: none;
}

.gameStartTimer .flip-clock-wrapper ul li {
  line-height: 60px;
}

.flip-clock-wrapper ul li a div {
  height: calc(50% - 1px);
}

.flip-clock-wrapper ul li a div.down {
  margin-top: 2px;
}

.flip-clock-wrapper ul li a div div.inn {
  font-family: var(--secondary-font) !important;
  font-size: 42px;
  color: #ffffff;
}

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 1px;
}

.gameStartTimer .flip-clock-wrapper ul {
  width: 45px;
  height: 60px;
  margin: 0 4px 0 0;
  line-height: 60px;
  background-color: var(--color-dark2);
}

.gameStartTimer .flip-clock-wrapper ul.flip:last-child {
  margin-right: 0;
}

.videoItems {
  counter-reset: videoItems;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -8px;
  margin-top: -24px;
}

.gameStartVideoItem {
  counter-increment: videoItems;
  max-width: 178px;
  min-width: calc((100% / 6) - 8px);
  height: auto;
  margin: 24px 0 0 8px;
  flex-grow: 1;
}

.gameStartVideoItem .ramka {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 10px;
  background-image: none;
  background-color: var(--color-bg);
}

.gameStartVideoItem .ramka::before {
  content: counter(videoItems);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: var(--secondary-font);
  font-size: 70px;
  line-height: 1;
  color: var(--color-main);
  font-weight: 700;
}

.gameStartVideoItem .num {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 76.25%; /*199px;*/
  border-radius: 10px;
  background-color: yellow;
}

.gameStartVideoItem video {
  width: 100%;
  height: 100%;
  margin: 0;
}

.gameStartVideoItem .userName {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 1;
  color: var(--color-main);
  text-align: left;
}

.gameStart .buttons {
  top: 0;
  bottom: auto;
  right: 0;
  width: auto;
  display: flex;
}

.gameStart .buttons br {
  display: none;
}

.buttonGreen.startGame {
  margin: 0;
  height: auto;
  padding: 13px 24px;
  border-radius: 10px;
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  text-transform: capitalize;
  box-shadow: 0px 2px 3px 0 rgba(44, 57, 65, 0.08);
  border: solid 1px #eff3f7;
  background-color: var(--color-green);
  background-image: none;
}

.buttonGreen.startGame .cell {
  height: auto;
  margin: 0;
  padding: 0;
}

.buttonGreen.startGame:hover,
.buttonGreen.startGame:focus {
  background-color: var(--color-green-hover);
}

.buttonGreen.startGame::before,
.buttonGreen.startGame::after {
  display: none;
}

.buttonRed.exitGame {
  display: flex;
  margin: 0;
  height: auto;
  padding: 13px 24px;
  border-radius: 10px;
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;
  box-shadow: 0px 2px 3px 0 rgba(44, 57, 65, 0.08);
  border: solid 1px #eff3f7;
  background-color: var(--color-bg);
  background-image: none;
}

.buttonRed.exitGame::after {
  content: "";
  position: static;
  display: block;
  margin-left: 12px;
  width: 16px;
  height: 16px;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 523.7 512'%3e%3cpath fill='%23718ba3' d='M366.8 113.9V25.6c0-14.1-11.5-25.6-25.6-25.6H25.6C11.5 0 0 11.5 0 25.6V387.3c0 9.4 5.5 18.3 13.7 22.6l194.5 100.7c8.5 4.3 18.8-1.7 18.8-11.5V401h114.3c14.1 0 25.6-11.5 25.6-25.6V235.5h-51.2V337c0 7.3-5.5 12.8-12.8 12.8h-75.5V132.6c0-9.4-5.5-18.3-13.7-22.6L99 51.2h203.9c7.3 0 12.8 5.5 12.8 12.8v50.3h51.2v-.4z'/%3e%3cpath fill='%23718ba3' d='M432.5 72.1l83.2 83.2c10.7 10.7 10.7 26.4 0 37.1l-83.2 83.2c-10.7 10.7-26.9 11.1-37.5.4-10.2-10.2-9-27.3.9-37.5l37.5-37.1H287.9c-7.2 0-14.5-3-19.2-8.5-11.9-12.8-9-35.4 6.4-43.9 3.8-2.1 8.5-3.4 12.8-3.4h145.5s-37.1-37.1-37.5-37.1c-9.9-10-11.1-27.5-.9-37.3 10.2-10.2 26.9-9.8 37.5.9z'/%3e%3c/svg%3e");
}

.buttonRed.exitGame:hover {
  background-color: #e9eff2;
  border-color: #cdd5de;
}

.buttonRed.exitGame:hover::after {
  background-position: 0 0;
}

.buttonRed.exitGame .cell {
  height: auto;
  padding: 0;
  align-self: center;
}

.buttonRed.exitGame::before {
  display: none;
}

.gameStart .buttons a ~ a {
  margin-left: 8px;
}

.byPlaceNow {
  top: 60px;
  right: 0;
  width: 52px;
  padding: 14px 16px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-green);
}

.byPlaceNow:hover {
  width: 167px;
  padding: 14px 16px;
}

.byPlaceNow p {
  display: flex;
}

.byPlaceNow span.money {
  display: block;
  width: 16px;
  height: 16px;

  padding: 0 16px 0 0;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 50% 50%;
  background-image: url("../img/new-design/coin.png");
  align-self: center;
}

.byPlaceNow .gButtonLiteBrown {
  height: auto;
  margin: 0 0 0 16px;
  background-image: none;
  align-self: center;
  text-shadow: none;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  transform: scale(0, 1);
  transition: transform 0.5s ease;
}

.byPlaceNow .gButtonLiteBrown::before,
.byPlaceNow .gButtonLiteBrown::after {
  display: none;
}

.byPlaceNow:hover .gButtonLiteBrown {
  transform: scale(1, 1);
}

.video-stream {
  z-index: 2 !important;
  border-radius: 10px;
  overflow: hidden;
}

/* Загрузка игры */
.loadGame {
}

.loadGame .percent {
  position: relative;
  z-index: 1;
  padding-top: 1px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.loadGameTitle {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}

.loadLine {
  height: 22px;
  margin-top: 24px;
}

.loadGreenLine {
  top: 0;
  z-index: 1;
  background-image: none;
  background-color: var(--color-green);
}

.loadLineLeft {
  height: 22px;
  left: 0;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.4);
}
.loadLineRight {
  height: 22px;
  right: 0;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.2);
}

/* модалки */
.windowContainer {
  border-radius: 10px;
  box-shadow: var(--shadow-default);
  background-color: var(--color-bg);
  background-image: none;
}

.windowContainer.error {
  background-color: var(--color-bg);
}

.popUpTitleContainer {
  position: static;
  width: auto;
  height: auto;
  margin: 32px 0 16px;
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 1;
  color: var(--color-dark);
  font-weight: 700;
}

.popUpTitle {
  height: auto;
  margin: 0;
  padding: 0;
  background-image: none;
}

.popUpTitle::before,
.popUpTitle::after {
  display: none;
}

.windowContainer p {
  font-size: 24px;
  color: var(--color-main);
}

.windowContainer.error p {
  padding: 0;
  color: var(--color-dark);
}

.windowContainer .angleTL,
.windowContainer .angleTR,
.windowContainer .angleBR,
.windowContainer .angleBL {
  display: none;
}

.windowContainer .borderT,
.windowContainer .borderL,
.windowContainer .borderR,
.windowContainer .borderB {
  background-image: none;
}

.windowContainer .buttonRed {
  margin: 0;
  height: auto;
  padding: 13px 24px;
  border-radius: 10px;
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1;
  color: var(--color-main);
  text-transform: capitalize;
  box-shadow: 0px 2px 3px 0 rgba(44, 57, 65, 0.08);
  border: solid 1px #eff3f7;
  background-color: var(--color-bg);
  background-image: none;
}

.windowContainer .buttonRed + .buttonRed {
  margin-left: 8px;
}

.windowContainer .buttonRed .cell {
  height: auto;
  margin: 0;
  padding: 0;
}

.windowContainer .buttonRed:hover,
.windowContainer .buttonRed:focus {
  background-color: #e9eff2;
  border-color: #cdd5de;
}

.windowContainer .buttonRed::before,
.windowContainer .buttonRed::after {
  display: none;
}
/**/
.sayOff {
  width: 24px;
  height: 24px;
  background-image: url("../img/new-design/mute2.svg");
}

.hint--top::before,
.hint--top::after {
  left: 30%;
}
